# App Configuration
NEXT_PUBLIC_APP_URL=https://your-app.com

# Thirdweb
THIRDWEB_SECRET_KEY=
THIRDWEB_PROJECT_WALLET=
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=

# Neynar (Farcaster)
NEYNAR_API_KEY=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
